<p-toast></p-toast>
<form [formGroup]="userFormUsuariosFichas" (ngSubmit)="addUsuarioFichas()">    
    <div class="card">
        <div class="text-center">
            <h3>Generar fichas</h3>
        </div>
        <div class="grid p-fluid mt-4">
            <div class="col-12 md:col-3">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText formControlName="cantidadfichas">
                    <label for="float-input">Cantidad a generar</label>
                    <small class="p-error block text-center"
                        *ngIf="userFormUsuariosFichas.get('cantidadfichas')?.invalid && userFormUsuariosFichas.get('cantidadfichas')?.dirty ">campo
                        requerido</small>
                </span>
            </div>
            <div class="col-12 md:col-3">
                <p-dropdown inputId="velocidadSubidaEnModal" placeholder="Seleccione Vendedor"
                    formControlName="vendedorFichas">
                    <ng-template pTemplate="item">
                        <span><strong></strong></span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="col-12 md:col-3">
                <p-dropdown inputId="velocidadSubidaEnModal" placeholder="Seleccione Servidor"
                    formControlName="servidorFichas">
                    <ng-template pTemplate="item">
                        <span><strong></strong></span>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="col-12 md:col-3">
                <p-dropdown [options]="arrayPlanesFichas" optionLabel="name" [filter]="true" filterBy="name"
                    [showClear]="true" placeholder="Selecciona un perfil" formControlName="planesFichas">
                    <ng-template let-perfil pTemplate="item">
                        <div class="country-item">
                            <i [class]="'flag flag-' + perfil.name.toUpperCase()"></i>
                            <div><strong>{{perfil.name}}</strong></div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <p-divider align="center">
            <span class="p-tag"><i class="pi pi-user mr-2"></i>Configuracion Usuario</span>
        </p-divider>

        <div class="grid p-fluid" formGroupName="formConfiguracionUsers">
            <div class="col-12 md:col-3">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText formControlName="prefijoFichas">
                    <label for="float-input">Prefijo</label>
                </span>
            </div>
            <div class="col-12 md:col-3">
                <p>Longitud del usuario: <strong>{{valorLongUser}}</strong></p>
                <p-slider [(ngModel)]="valorLongUser" [min]="2" [max]="10" formControlName="LongitudUserFichas">
                </p-slider>
            </div>
            <div class="col-12 md:col-3">
                <p-dropdown inputId="velocidadSubidaEnModal" [options]="tipoUsuarioGenerar"
                    placeholder="Tipo de usuario" formControlName="tipoUsuarioGenerarFichas">
                    <ng-template let-option pTemplate="item">
                        <span><strong>{{option}}</strong></span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-12 md:col-3">
                <p-dropdown inputId="velocidadSubidaEnModal" [options]="tipoInicioDeSesion"
                    placeholder="Seleccione tipo de inicio de sesion" formControlName="tipoInicioDeSesionFichas">
                    <ng-template let-option pTemplate="item">
                        <span><strong>{{option}}</strong></span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <p-divider align="center">
            <span class="p-tag"><i class="pi pi-user mr-2"></i>Configuracion Contraseña</span>
        </p-divider>

        <div class="grid p-fluid" formGroupName="formConfiguracionPass">
            <div class="col-12 md:col-3">
                <p>Longitud de la contraseña: <strong>{{valorLongPass}}</strong></p>
                <p-slider [(ngModel)]="valorLongPass" [min]="2" [max]="10" formControlName="valorLongPassFichas">
                </p-slider>
            </div>
            <div class="col-12 md:col-3">
                <p-dropdown inputId="velocidadSubidaEnModal" [options]="tipoPasswordGenerar"
                    placeholder="Tipo de Contraseña" formControlName="tipoPasswordGenerarFichas">
                    <ng-template let-option pTemplate="item">
                        <span><strong>{{option}}</strong></span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <div class="grid p-fluid mt-3">
            <div class="col-12 md:col-6"  align="right">
                <div class="col-12 md:col-3">
                    <button pButton type="submit" label="Generar" class="p-button-success"
                    [disabled]="userFormUsuariosFichas.invalid"></button>
                </div>                
            </div>
            <div class="col-12 md:col-6">
                <div class="col-12 md:col-3">
                    <button pButton type="button" label="Cancelar" class="p-button-danger"
                    (click)="RegresarAtras()"></button>
                </div>                
            </div>            
        </div>
    </div>
</form>