<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo perfil" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
            <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-danger"></button> -->
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>


    <p-table #dt [value]="listplanesfichas" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id" responsiveLayout="scroll"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Perfiles</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
               <!--  <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="macCookieTimeout">Duracion<p-sortIcon field="macCookieTimeout"></p-sortIcon>
                </th>
                <th pSortableColumn="rateLimit">Velocidad Subida <p-sortIcon field="rateLimit"></p-sortIcon>
                </th>
                <th pSortableColumn="rateLimit">Velocidad bajada <p-sortIcon field="rateLimit"></p-sortIcon>
                </th>
                <th pSortableColumn="rateLimit">Expiracion <p-sortIcon field="rateLimit"></p-sortIcon>
                </th>
                <th pSortableColumn="idleTimeout">Status <p-sortIcon field="idleTimeout"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-planes>
            <tr>
                <!-- <td>
                    <p-tableCheckbox [value]="planes"></p-tableCheckbox>
                </td> -->
                <td>{{planes.name}}</td>
                <td>{{planes.macCookieTimeout}}</td>
                <!-- OBTENEMOS LOS DIGITOS QUE ESTAN ANTES DE LA "/" -->
                <td>{{planes.rateLimit.substring(0, planes.rateLimit.indexOf('/'))}}</td>
                <!-- OBTENEMOS LOS DIGITOS QUE ESTAN DESPUES DE LA "/" -->
                <td>{{planes.rateLimit.substring(planes.rateLimit.indexOf('/') + 1, planes.rateLimit.length)}}</td>
                <td>
                    <p-rating [ngModel]="planes.rating" [readonly]="true" [cancel]="false"></p-rating>
                </td>
                <td><span
                        [class]="'product-badge status-' + (planes.idleTimeout ? planes.idleTimeout.toLowerCase() : '')">{{planes.idleTimeout}}</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editPlanesFichas(planes.name, planes.macCookieTimeout, planes.rateLimit, planes.id)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletePlanesFichas(planes.id, planes.name)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Un total de {{listplanesfichas ? listplanesfichas.length : 0 }} planes.
            </div>
        </ng-template>
    </p-table>


    <p-dialog [(visible)]="perfilModalDialog" [style]="{width: '450px'}" header="AGREGAR PERFIL" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">
            <img>
            <div class="field">
                <label>Tipo de fichas</label>
                <p-dropdown [(ngModel)]="perfilDesdeModal.tipodeFichas"  inputId="velocidadSubidaEnModal" [options]="selectTipoFicha" placeholder="Seleccione tipo de fichas">
                    <ng-template let-optionSelectedTipoFicha pTemplate="item">
                        <span><strong>{{optionSelectedTipoFicha}}</strong></span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="field">
                <label for="nombrePerfil">Nombre del perfil</label>
                <input type="text" pInputText id="nombrePerfil" [(ngModel)]="perfilDesdeModal.nombrePerfilModal" required autofocus />
                <small class="p-error" *ngIf="submitted && !perfilDesdeModal.nombrePerfilModal">campo requerido</small>
            </div>
            <div *ngIf="perfilDesdeModal.tipodeFichas !== ''">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="quantity">Velocidad</label>
                        <input type="text" pInputText pKeyFilter="num" placeholder="0" [(ngModel)]="perfilDesdeModal.velocidadSubidaModal">
                    </div>
                    <div class="field col">
                        <label>de bajada</label>
                        <p-dropdown [(ngModel)]="perfilDesdeModal.velocidadSubidaEnModal" inputId="velocidadSubidaEnModal" [options]="seleccionVelocidadsubida" placeholder="Kbps/Mbps">
                            <ng-template let-option pTemplate="item">
                                <span><strong>{{option}}</strong></span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="quantity" style="text-align: right;">Velocidad</label>
                        <input type="text" pInputText pKeyFilter="num" placeholder="0" [(ngModel)]="perfilDesdeModal.velocidadBajadaModal">
                    </div>
                    <div class="field col">
                        <label>de bajada</label>
                        <p-dropdown [(ngModel)]="perfilDesdeModal.velocidadBajadaEnModal" inputId="velocidadSubidaEnModal" [options]="seleccionVelocidadbajada" placeholder="Kbps/Mbps">
                            <ng-template let-option pTemplate="item">
                                <span><strong>{{option}}</strong></span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <label><strong>Tiempo limite de fichas</strong></label> <br>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <label for="minmax-buttons">Dia</label>
                    <p-inputNumber [(ngModel)]="defaulttimpolimiteDia" mode="decimal" [showButtons]="true"
                        inputId="minmax-buttons" [min]="0" [max]="366" [(ngModel)]="perfilDesdeModal.tiempoLimiteFichaDia">
                    </p-inputNumber>
                </div>
                <div class="col-12 md:col-4">
                    <label for="minmax-buttons">Hora</label>
                    <p-inputNumber [(ngModel)]="defaulttimpolimiteHora" mode="decimal" [showButtons]="true"
                        inputId="minmax-buttons" [min]="0" [max]="23" [(ngModel)]="perfilDesdeModal.tiempoLimiteFichaHora">
                    </p-inputNumber>
                </div>
                <div class="col-12 md:col-4">
                    <label for="minmax-buttons">Minuto</label>
                    <p-inputNumber [(ngModel)]="defaulttimpolimiteMin" mode="decimal" [showButtons]="true"
                        inputId="minmax-buttons" [min]="0" [max]="60" [(ngModel)]="perfilDesdeModal.tiempoLimiteFichaMin">
                    </p-inputNumber>
                </div>
            </div>
            </div>
            <div *ngIf="perfilDesdeModal.tipodeFichas === 'Megas'">
                <label><strong>Limite de trafico</strong></label> <br>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="quantity">Velocidad</label>
                        <input type="text" pInputText pKeyFilter="num" placeholder="0" [(ngModel)]="perfilDesdeModal.velocidadSubidaModal">
                    </div>
                    <div class="field col">
                        <label>de bajada</label>
                        <p-dropdown [(ngModel)]="perfilDesdeModal.limiteDeTraficoFichaEnKbMbGb" inputId="limiteDeTraficoFichaEnKbMbGb" [options]="seleccionLimiteDeTrafico" placeholder="Kbps/Mbps/Gbps">
                            <ng-template let-option pTemplate="item">
                                <span><strong>{{option}}</strong></span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div *ngIf="perfilDesdeModal.tipodeFichas === 'Megas' || perfilDesdeModal.tipodeFichas === 'Pausado'">
                <label><strong>Tiempo de expiracion de la ficha</strong></label> <br>
                <div class="grid p-fluid">
                    <div class="col-12 md:col-4">
                        <label for="minmax-buttons">Dia</label>
                        <p-inputNumber [(ngModel)]="defaultExpiracionDia" mode="decimal" [showButtons]="true"
                            inputId="minmax-buttons" [min]="0" [max]="100" [(ngModel)]="perfilDesdeModal.tiemoExpiracionFichaDia">
                        </p-inputNumber>
                    </div>
                    <div class="col-12 md:col-4">
                        <label for="minmax-buttons">Hora</label>
                        <p-inputNumber [(ngModel)]="defaultExpiracionHora" mode="decimal" [showButtons]="true"
                            inputId="minmax-buttons" [min]="0" [max]="23" [(ngModel)]="perfilDesdeModal.tiemoExpiracionFichaHora">
                        </p-inputNumber>
                    </div>
                    <div class="col-12 md:col-4">
                        <label for="minmax-buttons">Minuto</label>
                        <p-inputNumber [(ngModel)]="defaultExpiracionMin" mode="decimal" [showButtons]="true"
                            inputId="minmax-buttons" [min]="0" [max]="60" [(ngModel)]="perfilDesdeModal.tiemoExpiracionFichaMin">
                        </p-inputNumber>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="agregarPlanesFichas()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
